@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

[x-cloak] {
    display: none;
}


#winner-announcement {
    animation: glow 1.5s infinite alternate;
    text-align: center;
    font-size: 2rem;
    color: gold;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px gold, 0 0 20px yellow;
    }
    to {
        text-shadow: 0 0 20px yellow, 0 0 30px gold;
    }
}
.raffle-container {
    background-image: url('assets/images/bg.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the container */
}


.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loader {
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
